.main-cont{
	
	background-color: #404040;
}
.main-pn{
	color: #D2C0D2;
	font-size: 12px;
	padding-top: 12px;
    display: inline-block;
}
.main-spa{
	color: #EAE7EA;
}

.frist-heading{
	float: left;
	font-weight: bold;
}
.icon{
	/*float: left;*/
	color: red;
	font-size: 25px;
	padding-top: 5px;
	padding-left: 5px;

}
.header ul{
	list-style-type: none;
	margin-bottom: 0px;

	
}
.header ul li{
	float: left;

}
.header ul li a{
	text-decoration: none;
	float: left;
	padding: 23px;
	padding-bottom: 20px;
	border-left: 1px solid gray;
	text-align: center;
	color: black;
	max-height: 70px;
	min-height: 100px;
	line-height: 30px;
	

}
.icon12{
	font-size: 25px;
	}
.list-li{
	background-color: lightgray;
	display: inline-block;

}
.lat-ic{
	text-align: center;
	margin-top: 20px;
}

.back{
	height: 500px;
	width: 100%;
	
	background-image: url('nurse.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.hea-sec{
	font-size: 45px;
	margin-top: 60px;
}
.back-spn{
	
	font-weight: lighter;
}
.back-p{
	font-size: 18px;
}
.section{
	
	background-color: #F4F6FD;
}
.sec-p{
	font-size: 14px;
}
.for-inp{
	border: none;
	background-color: transparent;
	border-bottom: 1px solid gray;
	max-width: 735px;
	border-radius: 0px;
	padding: 0px;
}
.btn1{
	width: 105px;
	border-radius: 0px;
	margin-top: 10px;
}
.images1{
	height: 400px;
	width: 100%;

	
}
.clo-con-di{
	background-color: #F4F6FD;
}
.sp-ligh{
	font-weight: lighter;
}
.head{
	text-align: center;
}
.cir-di{
	height: 90px;
	width: 90px;
	border-radius: 100%;
	background-color: #04BBDD;
	float: left;
	display: inline-block;
}
.tex-div{
	float: left;
	display: inline-block;
}
.med-di{
	height: 80px;
	width: 80px;
	border-radius: 100%;
	background-color: #04BBDD;
	float: left;
}
.med-ic{
	font-size: 40px;
	color: white;
	line-height: 30px;
}
.md-bod{
	margin-left: 35px;
    display: inline-block;

}
.me-p{
	font-size: 14px;
}
.
.spn{
	font-weight: lighter;
}
.card{
	border: none;
}
.card-pa{
	padding-left: 0px;
}
/*.card-sec{
	width:300px
}*/
.card-sec-1{
	padding-left: 0px;
}
/*.card-im-size{
	width:400px
}*/
.bt-ls{
	width: 105px;
	background-color: #04BBDD;
	color: white;
	border-radius: 0px;
	border: none;

}
.siz-fn{
	font-size: 14px;
}
.ca-im{
	width: 80%;
}

.hr-ic{
	color: black;
	position: relative;
    right: 9px;
    top: 6px;
	}
.hr-dv{
	height: 30px;
	width: 10%;
	float: right;
	background-color: lightgray;
	margin-top: -20px;
}
.hr-fs{
	font-size: 13px;
}
.hr-bt{
	width: 105px;
	background-color: #04BBDD;
	color: white;
	border-radius: 0px;
	border: none;
}
.hr-heading{
	font-weight: lighter;
}
.full-ls-di{
	height: 325px;
	width: 100%;
	background-color: #F1F2FA;
	margin-top: 95px;
	display: inline-block;
	width: 100%;
	
	
}
.ls-ro-di{
	 height: 140px;
    width: 140px;
    border-radius: 100%;
    background-color: lightgray;
    margin: auto;
    margin-top: -60px;

}
.ls-img{
	height: 140px;
	width: 140px;
	margin: auto;
	/*margin-top: -50px;*/

}
.tex-cen{
	text-align: center;
}
.contect-cen{
	font-size: 22px;
}
.tex-sz{
	font-weight: lighter;
}
.tex-sz11{
	font-weight: lighter;
	font-size: 12px;
	padding: 0px;
}
.last-contai{
	
	background-color: #3C3B3B;
}
.last-hea{
	color: white;
}
.last-pra{
	color: #D5D5D5;
	font-size: 14px;
}
.last-spn{
	color: white;
}
.inpu-bt{
	width: 80%;
	height: 40px;
	border-radius: 0px;
	background-color: #AFA3A3;
}
.joint-bt{
	margin: 3px;
    padding: 7px;
    margin-left: -4px;
    margin-top: -1px;
    border-radius: 0px;
    width: 50px;
    height: 38px;
}
.hyper-r{
	background-color: #D5D5D5;
}
.common-di{
	height: 40px;
	width: 40px;
	background-color:#D5D5D5;
	border-radius: 100%; 
	float: left;
	padding: 5px;
	margin: 3px;
	margin-top: 30px;
}
.lat-cm-ic{
	font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.colo-so{
	color: #D5D5D5;

}
.bt-accon{
	border-radius: 0px;
	color: white;
	width: 30%;
	margin-top: 15px;
}
.lsd-co-s{
	
}
#ic1{
	position: absolute;
	right: 25px;
	color: black;
	
}
.main-b-slid{
	height:140px;
	width: 140px;
	 border-radius: 100%;
	
}






				  @media screen and (max-width: 767px){
				  	.header{
				  		width: 100%;
				  		background-color: darkslategrey;
				  	
				  		}
				  		/*.header ul{
				  			margin-left: -15px;
				  			margin-right: -15px;
				  			
				  		}*/
				  	.header ul li{
				  		width: 100%;
				  		text-transform: uppercase;
				  		border-bottom: 1px dotted  lightslategray;
				  		padding-left: 20px;
				  		margin-left: -11px;

				  	}
				  	.header ul li a{
				  		color: white;
				  		border-left: none;
				  		margin-bottom: -30px;

				  	}
				  	.header ul li a br{
				  		display: none;
				  	}
				  	.header ul li.list-li{
				  		background-color: darkslategrey;
				  		padding-top: 18px;
				  	}
				  	.header-cont{
				  		width: 100%;
				  		max-width: 100%;
				  	}
				  	.header ul li a br{
				  		display: none;
				  	}
				  	.any-ic{
				  		padding: 20px;
				  		font-size: 20px;
				  		padding-top: 12px;
				  		display: inline-block;
				  	}
				  	.header ul li a .lat-ic{
					  		margin: 0px;
					  		padding: 0px;
					  		font-size: 20px;
				  	}
				  	.for-inp{
				  		line-height: 60px;
				  	}
				  	.section br{
				  		display: none;
				  	}
				  	.joint-bt{
				  		  margin: 5px;
				  	}
				  	
				  	

				  }
	

				  @media screen and (max-width: 381px){
				  	.med-di{
				  		position: relative;
				  		left: 50px;
				  	}
				  }
		
				  @media screen and (max-width: 1199px) {
				  	.header ul{
				  		margin: 0px;
				  		margin-left: -34px;
				  		margin-right: -21px;
				  	}
				  	.header ul li a{
				  		padding: 9px!important;
				  	}
				  	.icon12{
				  		margin-top: 6px;
				  	}
				  	.joint-bt{
				  		margin-top: 0px;
   						 margin-left: -5px;

				  	}
				  	.bt-accon {
				  		width: 70%;
				  	}
				  	.inpu-bt {
				  		width: 71%;
				  	}


				  }



				   @media screen and (max-width: 991px) {
				  	
				  	/*.header-cont{
				  		width: 100%;
				  		max-width: 100%;
				  	}*/
				   	.header ul li a{
				   		padding-left: 0px;
				  		padding: 12px!important;
				  		padding-top: 8px;
				  		font-size: 9px;
				  	}
				  	.bt-accon {
				  		width: 70%;
				  	}
				  	.common-di{
				  		margin: 4px;
				  		width: 30px;
				  		height: 30px;
				  	}
				  	.lat-cm-ic{
					font-size: 15px;
   					 margin-top: 4px;
    				margin-left: 4px;
					}
					.lg-full-cont{
						    max-width: 780px;
					}
					.med-di{
						height: 74px;
						width: 74px;
						
					}
					.inpu-bt {
				  		width: 66%;
				  	}
				  	.joint-bt{
				  		margin: -4px;
    					margin-top: -8px;

				  	}

				  
				  }




				  		@media screen and (min-width: 767px){
				  			#ic1{
				  				display: none;
				  			}
				  		}


				  		.bx-wrapper{
				  			border: none;
				  			background-color: transparent;
				  			box-shadow: none;
				  		}
				  		.bx-wrapper .bx-controls-direction a {
    							position: absolute;
    							top: 44%;
    							margin-top: -16px;
    							outline: 0;
    							width: 32px;
    							height: 32px;
    							text-indent: -9999px;
    							z-index: 9999;
    							margin-left: -60px;
    							margin-right: -60px;
							}

				.bx-wrapper .bx-pager-item{
					display: none;
				}


				@media screen and (max-width: 1400px){
					.header ul li a{
				  		padding: 13px;
				  	}
				}